body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

p{
    font-size: 18px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}
li{
    padding-left: 70px;
}

nav{
    height: 40px;
    flex-direction: row;
    display: flex;
    margin: 20px;
  }

button{
    text-align: center;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    background-color: white;
    margin-left: 50px;
    font-size: 18px;
    border-color: white;
}

header{
    display: flex;
    background: url(../images/desktop/image-header1.jpg);
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 700px;
    text-align: center;
} 

.header-text{
    color: white;
    font-size: 100px;
    margin-top: 150px;
    justify-content: center;
    align-items: flex-start;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: -10px;
}

img{
    width: 100%;
}

.transform-text, .standout-text{
    margin: 180px
}

.standout-img{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -5px;
}

.standout-text{
    grid-column: 2/3;
}

.photo-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2/3;
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    margin-top: -10px;
}

.graphic-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1/2;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover; 
    margin-top: -10px;
}